# API Testing

Seeing if we can pull data from our APIs

## IMPORTS

In [ ]:
import requests
import pandas as pd
import json
from io import StringIO

## GINI Data

In [ ]:
gini_url = "https://api.worldbank.org/v2/country/usa/indicator/SI.POV.GINI?format=json"

In [16]:
# should get a response of 200 here
response = requests.get(gini_url)
print(response.status_code)

200

In [17]:
# should show the shape of json data and some metadata
data = response.json()
print(type(data), len(data))
print(json.dumps(data[0], indent=2))

<class 'list'> 2
{
  "page": 1,
  "pages": 2,
  "per_page": 50,
  "total": 65,
  "sourceid": "2",
  "lastupdated": "2025-04-15"
}

In [20]:
# Unboxing the data into a pd dataframe
gini_df = pd.DataFrame(data[1]) # the data should be located within the second index of the json response
gini_df['indicator'] = gini_df['indicator'].apply(lambda d: d['value']) # extract the 'value' element from each nested dict
gini_df['country']   = gini_df['country'].apply(lambda d: d['value'])
gini_df = gini_df[['date', 'country', 'countryiso3code', 'indicator','value']] # selecting columns to keep
gini_df.head(8)

   date        country countryiso3code   indicator  value
0  2024  United States             USA  Gini index    NaN
1  2023  United States             USA  Gini index    NaN
2  2022  United States             USA  Gini index   41.3
3  2021  United States             USA  Gini index   39.7
4  2020  United States             USA  Gini index   39.7
5  2019  United States             USA  Gini index   41.5
6  2018  United States             USA  Gini index   41.4
7  2017  United States             USA  Gini index   41.2

## Union Density Data

In [ ]:
union_density_url = "https://sdmx.oecd.org/public/rest/data/OECD.ELS.SAE,DSD_TUD_CBC@DF_TUD,/all?startPeriod=2000&endPeriod=2025&dimensionAtObservation=AllDimensions&format=csvfilewithlabels"

In [ ]:
# Define API query URL (CSV with labels format)

response = requests.get(union_density_url)
union_density_df = pd.read_csv(StringIO(response.text)) #stringio makes it "appear" like a csv to pandas
union_density_df[union_density_df['Reference area']=='United States']

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,MEASURE,Measure,UNIT_MEASURE,Unit of measure,TIME_PERIOD,Time period,OBS_VALUE,Observation value,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,DECIMALS,Decimals
288,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2000,NaN,12.9,NaN,A,Normal value,0,Units,1,One
289,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2001,NaN,12.9,NaN,A,Normal value,0,Units,1,One
290,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2002,NaN,12.8,NaN,A,Normal value,0,Units,1,One
291,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2003,NaN,12.4,NaN,A,Normal value,0,Units,1,One
292,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2004,NaN,12.0,NaN,A,Normal value,0,Units,1,One
293,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2005,NaN,12.0,NaN,A,Normal value,0,Units,1,One
294,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2006,NaN,11.5,NaN,A,Normal value,0,Units,1,One
295,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2007,NaN,11.6,NaN,A,Normal value,0,Units,1,One
296,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2008,NaN,11.9,NaN,A,Normal value,0,Units,1,One
297,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2009,NaN,11.8,NaN,A,Normal value,0,Units,1,One
298,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2010,NaN,11.4,NaN,A,Normal value,0,Units,1,One
299,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2011,NaN,11.3,NaN,A,Normal value,0,Units,1,One
300,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2012,NaN,10.8,NaN,A,Normal value,0,Units,1,One
301,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2013,NaN,10.8,NaN,A,Normal value,0,Units,1,One
302,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2014,NaN,10.7,NaN,A,Normal value,0,Units,1,One
303,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2015,NaN,10.6,NaN,A,Normal value,0,Units,1,One
304,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2016,NaN,10.3,NaN,A,Normal value,0,Units,1,One
305,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2017,NaN,10.3,NaN,A,Normal value,0,Units,1,One
306,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2018,NaN,10.1,NaN,A,Normal value,0,Units,1,One
307,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2019,NaN,9.9,NaN,A,Normal value,0,Units,1,One
308,DATAFLOW,OECD.ELS.SAE:DSD_TUD_CBC@DF_TUD(1.0),Trade union density,I,USA,United States,TUD,Trade union density,PT_SAL,Percentage of employees,2020,NaN,10.3,NaN,A,Normal value,0,Units,1,One