# API Testing

Seeing if we can pull data from our APIs

## IMPORTS

In [1]:
import requests
import pandas as pd
import json
from io import StringIO

## GINI Data

In [2]:
gini_url = "https://api.worldbank.org/v2/country/usa/indicator/SI.POV.GINI?format=json"

In [3]:
# should get a response of 200 here
response = requests.get(gini_url)
print(response.status_code)

200

In [4]:
# should show the shape of json data and some metadata
data = response.json()
print(type(data), len(data))
print(json.dumps(data[0], indent=2))

<class 'list'> 2
{
  "page": 1,
  "pages": 2,
  "per_page": 50,
  "total": 65,
  "sourceid": "2",
  "lastupdated": "2025-04-15"
}

In [5]:
# Unboxing the data into a pd dataframe
gini_df = pd.DataFrame(data[1]) # the data should be located within the second index of the json response
gini_df['indicator'] = gini_df['indicator'].apply(lambda d: d['value']) # extract the 'value' element from each nested dict
gini_df['country']   = gini_df['country'].apply(lambda d: d['value'])
gini_df = gini_df[['date', 'country', 'countryiso3code', 'indicator','value']] # selecting columns to keep
gini_df.head(8)

   date        country countryiso3code   indicator  value
0  2024  United States             USA  Gini index    NaN
1  2023  United States             USA  Gini index    NaN
2  2022  United States             USA  Gini index   41.3
3  2021  United States             USA  Gini index   39.7
4  2020  United States             USA  Gini index   39.7
5  2019  United States             USA  Gini index   41.5
6  2018  United States             USA  Gini index   41.4
7  2017  United States             USA  Gini index   41.2

## Union Density Data

In [12]:
union_density_url = "https://sdmx.oecd.org/public/rest/data/OECD.ELS.SAE,DSD_TUD_CBC@DF_TUD,/all?startPeriod=2000&endPeriod=2025&dimensionAtObservation=AllDimensions&format=csvfilewithlabels"

In [13]:
# should get a response of 200 here
response = requests.get(union_density_url)
print(response.status_code)

200

In [14]:
# digesting the csv text into a pandas df
union_density_df = pd.read_csv(StringIO(response.text)) #stringio makes it "appear" like a csv to pandas
union_density_df[union_density_df['Reference area']=='USA'] # TODO: make this not just United States
union_density_df = union_density_df[['TIME_PERIOD', 'Reference area', 'REF_AREA', 'Measure','OBS_VALUE']] # selecting columns to keep
union_density_df.head(8)

   TIME_PERIOD Reference area REF_AREA              Measure  OBS_VALUE
0         2000           OECD     OECD  Trade union density  20.900000
1         2001           OECD     OECD  Trade union density  20.299999
2         2002           OECD     OECD  Trade union density  20.000000
3         2003           OECD     OECD  Trade union density  19.700001
4         2004           OECD     OECD  Trade union density  19.299999
5         2005           OECD     OECD  Trade union density  19.000000
6         2006           OECD     OECD  Trade union density  18.299999
7         2007           OECD     OECD  Trade union density  18.200001

In [15]:
union_density_df['REF_AREA'].unique()

array(['OECD', 'MEX', 'SWE', 'IRL', 'ITA', 'AUS', 'CRI', 'JPN', 'LTU',
       'SVK', 'CHL', 'DEU', 'DNK', 'LUX', 'CAN', 'USA', 'SVN', 'ESP',
       'KOR', 'CHE', 'NLD', 'TUR', 'NZL', 'PRT', 'COL', 'POL', 'NOR',
       'HUN', 'BEL', 'ISR', 'AUT', 'GRC', 'EST', 'ISL', 'GBR', 'FRA',
       'LVA', 'CZE', 'FIN'], dtype=object)